/* GENERAL */
:root{
    --bg-body-green:#009688;
    --bg-body-grey:#d9dbd3;
    --bg-notification:#8edafc;
    --bg-my-message:#d5f9ba;
    --bg-active-user:#e9ebeb;
    --bg-header:#eaeaea;
    --icon-color:#b1b1b1;
    --white:#ffffff;
    --link:#6685a9;
    --text-bar-icons:#6b7376;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#009688 17%, #d9dbd3 17% 100%);
    display: flex;
    align-items: center;
}

.d-flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.flex-grow{
    flex-grow: 1;
}

.align-items-start{
    align-items: flex-start;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-around{
    justify-content: space-around;
}

.align-self-end{
    align-self: flex-end;
}

.align-items-end{
    align-items: flex-end;
}

.m10-right{
    margin-right: 10px;
}

.m10-left{
    margin-left: 10px;
}

.m10-top{
    margin-top: 10px;
}

.m15-bottom{
    margin-bottom: 15px;
}

.p10-left{
    padding-left: 10px;
}

.g-

.position-relative{
    position: relative;
}
/* HEADER */

.container{
    width: 1200px;
    height: 95%;
    background-color: black;
    margin: 0 auto;
}

header{
    height: 60px;
    background-color: var(--bg-header);
    flex-direction: row;
}

.header-left{
    min-width: 400px;
    border-right: 1px solid var(--icon-color);
}

.header-right{
    width: calc(100% - (100% / 3));
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.profile img{
    width: 100%;
}

header i{
    color: var(--icon-color);
    padding: 0 5px;
    font-size: 20px;
}

.i-fs{
    font-size: 23px;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 60px);
    background-color: white;
}

/* SIDEBAR */
.sidebar{
    max-width: 400px;
    min-width: 400px;
    height: 100%;
}

.content{
    width: calc(100% - (100% / 3));
    height: 100%;
}

.notification{
    background-color: var(--bg-notification);
    width: 100%;
    height: 70px;
    color: black;
}

.bell{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    color: var(--bg-notification);
    font-size: 20px;
    margin-left: 10px;
}

.notification a{
    color: var(--link);
}

.search{
    width: 100%;
    height: 40px;
    background-color: #fafafa;
}

.search-left{
    width: 15%;
    height: 85%;
}   

.search-right{
    width: 85%;
    height: 85%;
}

.search-icon{
    width: 98%;
    height: 100%;
    color: var(--icon-color);
    border: 0.8px solid var(--bg-header);
    background-color: var(--white);
    border-radius: 1px;
    text-align: center;
    line-height: 32px;
    margin-left: 4px;
}

.card{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--bg-header);
}

.search-bar{
    width: 98%;
    height: 100%;
    border: 0.8px solid var(--bg-header);
    border-radius: 1px;
    color: var(--icon-color);
}

.contacts{
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

.contact-name{
    font-size: 18px;
}

.last-message{
    font-size: 13px;
    color: var(--icon-color);
}

.contact-image{
    width: 50px;
    height: 100%;
}

.time{
    width: 30%;
    height: 100%;
    text-align: right;
}


/* CONTENT */
.screen{
    width: 100%;
    height: calc(100% - 60px);
    background-image: url(../img/BlackBoolzapp.jpg);
    background-size: contain;
    overflow-y: scroll;
}

.text-bar{
    width: 100%;
    height: 60px;
    background-color: var(--bg-header);
}

.text-bar-icons{
    width: 10%;
    color: var(--text-bar-icons);
}

.text-bar-input{
    width: 80%;
    height: 80%;
}

.message-input{
    width: 100%;
    height: 100%;
    border: 0.8px solid var(--bg-header);
    border-radius: 5px;
    color: var(--icon-color);
    padding: 0 10px;
}

.talk{
    width: 90%;
    height: 95%;
    margin: 11px auto;
}

.message-received-format{
    width: 300px;
    min-height: 40px;
    background-color: var(--white);
    border-radius: 10px;
    padding-left: 20px;
}

.message-format{
    width: 300px;
    min-height: 40px;
    background-color: var(--bg-my-message);
    border-radius: 10px;
    padding-left: 20px;
}

.received .message-format{
    align-items: flex-start;
    background-color: var(--white);
}

.sent{
    align-self: flex-end;
}

.time-message{
    font-size: 11px;
    color: var(--icon-color);
}

