<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="d-flex">
        <div class="container">
            <!-- inizio header pagina -->
            <header class="d-flex">
                <div class="header-left d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="profile">
                            <img src="./img/avatar_io.jpg" alt="myphoto">
                        </div>
                        <span class="m10-left">Christian</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical m10-right i-fs"></i>
                    </div>                  
                </div>
                <div class="header-right d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="profile">
                            <img :src="contacts[currentIndex].avatar" :alt="contacts[currentIndex].name">
                        </div>
                        <div>
                        <p class="contact-name">{{contacts[currentIndex].name}}</p>
                        <p class="last-message">Ultimo accesso alle {{contacts[currentIndex].messages[contacts[currentIndex].messages.length - 1].date.slice(11, 16)}}</p>
                        </div>   
                    </div>
                    <div class="d-flex g-10">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip m5-right"></i>
                        <i class="fa-solid fa-ellipsis-vertical m20-right i-fs"></i>
                    </div>
                </div>
            </header>
            <!-- fine header pagina -->

            <!-- inizio main pagina -->
            <main class="d-flex">
            <!-- inizio sidebar -->
                <div class="sidebar">
                    <div class="notification d-flex align-items-center">
                        <div class="d-flex justify-content-center align-items-center bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="m10-left">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search d-flex align-items-center">
                        <div class="search-left d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        </div>
                        <div class="search-right d-flex align-items-center">
                            <input type="text" class="search-bar p10-left" placeholder="Cerca o inizia una nuova chat"  v-model="searchChat" :keyup="filterContacts()">
                        </div>
                    </div>
                    <div class="contacts">
                        <div v-for="(card, index) in filteredChat" :key="index" class="card d-flex align-items-center" @click="currentChat(index)" :class="{'bg-contact': index === currentIndex}">
                            <div>
                                <div class="profile">
                                <img :src="card.avatar" :alt="card.name">
                                </div>
                            </div>
                            <div class="m10-left d-flex justify-content-start column m15-bottom flex-grow">
                                <p class="contact-name">{{card.name}}</p>
                                <p class="last-message">{{card.messages[card.messages.length - 1].message}}</p>
                            </div>
                            <div class="time d-flex justify-content-end align-items-start">
                                <p class="time-message m10-top m10-right">{{card.messages[card.messages.length - 1].date.slice(11, 16)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- fine sidebar -->
            <!-- inizio content -->
                <div class="content">
                    <div class="screen">
                        <div class="talk d-flex column">
                            <div class="d-flex" :class="waMessage.status" v-for="(waMessage, index) in contacts[currentIndex].messages" :key="index" ref="cards">
                                <div id="box" class="column d-flex m10-top message-format">
                                    <div class="dropdown d-flex column border" :class="{'dShow' : dropShow()}">
                                        <p class="border-bottom p10-bottom text-center m10-top">Info messaggio</p>
                                        <p class="text-center m10-top" @click="deleteMsg(index)">Cancella</p>
                                    </div>
                                    <p class="m10-top d-flex justify-content-between">{{waMessage.message}} <i class="fa-solid fa-chevron-down m10-right d-none icon-down" @click="dropDown()"></i></p>   
                                    <p class="time-message align-self-end m10-right">{{waMessage.date.slice(11, 16)}}</p>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="text-bar d-flex align-items-center">
                        <div class="d-flex justify-content-center align-items-center text-bar-icons">
                            <i class="fa-regular fa-face-smile i-fs"></i>
                        </div>
                        <div class="d-flex justify-content-center align-items-center text-bar-input">
                            <input type="text" class="message-input" placeholder="scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                        </div>
                        <div class="d-flex justify-content-center align-items-center text-bar-icons">
                            <i class="fa-solid fa-microphone i-fs"></i>
                        </div>
                    </div>
                </div>
            <!-- fine content -->
            <!-- fine main pagina -->
            </main>
        </div>
    </div>
    


















    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>